/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 2500  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

// Layer definitions

#define BASE    0
#define ALT     1
#define COL		2
#define NUM     3
#define FUN     4
#define NAV     5
#define MED     6

// -----------------

&sk {
    // don't release mods on other mods presses

    ignore-modifiers;
};

/ {
    // chosen { zmk,charmap = &charmap_us; };

    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        gt: gaming_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "gaming_tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <300>;    // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <0>;      // 0
            time-to-max-speed-ms = <40>;      // 500
            delay-ms = <0>;                   // 10
        };
    };

    macros {
        bt_0: bt_profile_macro_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_lshft {
            bindings = <&kp LSHFT>;
            key-positions = <12 13>;
            layers = <0 2 2>;
        };

        combo_rshft {
            bindings = <&kp RSHFT>;
            key-positions = <16 17>;
            layers = <0 2 2>;
        };

        combo_tab {
            bindings = <&kp TAB>;
            key-positions = <31 32>;
        };

        combo_esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };

        combo_dash {
            bindings = <&kp MINUS>;
            key-positions = <9 8>;
        };

        combo_lsuper {
            bindings = <&kp LGUI>;
            key-positions = <10 20>;
        };

        combo_rsuper {
            bindings = <&kp RGUI>;
            key-positions = <19 29>;
        };

        combo_nav {
            bindings = <&mo 6>;
            key-positions = <31 30>;
            layers = <0 2 2>;
        };

        combo_num {
            bindings = <&mo 4>;
            key-positions = <33 32>;
            layers = <0 2 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q       &kp X       &kp M        &kp W        &kp V      &kp J      &kp F        &kp FSLH     &kp SEMI    &kp DOT
&ht LGUI N  &ht LALT R  &ht LCTRL T  &ht LSHFT S  &kp G      &kp P      &ht RSHFT H  &ht RCTRL A  &ht RALT E  &ht LGUI I
&kp B       &kp L       &kp D        &kp C        &kp Z      &kp K      &kp Y        &kp O        &kp U       &kp COMMA
                                     &lt 7 BSPC   &lt 5 DEL  &lt 4 RET  &lt 6 SPACE
            >;
        };

        alt_layer {
            bindings = <
&kp Q       &kp W       &kp E        &kp R        &kp T      &kp Y      &kp U        &kp I        &kp O       &kp P
&ht LGUI A  &ht LALT S  &ht LCTRL D  &ht LSHFT F  &kp G      &kp H      &ht RSHFT J  &ht RCTRL K  &ht RALT L  &ht LGUI SEMI
&kp Z       &kp X       &kp C        &kp V        &kp B      &kp N      &kp M        &kp COMMA    &kp DOT     &kp FSLH
                                     &lt 7 BSPC   &lt 6 DEL  &lt 4 RET  &lt 5 SPACE
            >;
        };

        colemak_layer {
            bindings = <
&kp Q       &kp W       &kp F        &kp P        &kp B      &kp J      &kp L        &kp U        &kp Y       &kp SEMI
&ht LGUI A  &ht LALT R  &ht LCTRL S  &ht LSHFT T  &kp G      &kp M      &ht RSHFT N  &ht RCTRL E  &ht RALT I  &ht RGUI O
&kp Z       &kp X       &kp C        &kp D        &kp V      &kp K      &kp H        &kp COMMA    &kp DOT     &kp FSLH
                                     &lt 7 BSPC   &lt 6 DEL  &lt 4 RET  &lt 5 SPACE
            >;
        };

        gaming_layer {
            bindings = <
&kp T  &kp Q  &kp W  &kp E       &gt TAB R  &trans  &trans  &trans  &trans  &trans
&kp M  &kp A  &kp S  &kp D       &kp F      &trans  &trans  &trans  &trans  &trans
&kp B  &kp Z  &kp X  &kp C       &kp V      &trans  &trans  &trans  &trans  &trans
                     &kp LSHIFT  &kp SPACE  &to 0   &trans
            >;
        };

        num_layer {
            bindings = <
&kp BSLH  &kp LBKT  &kp LBRC  &kp LPAR   &kp SQT    &kp GRAVE  &kp RPAR  &kp RBRC   &kp RBKT   &kp EQUAL
&kp N1    &kp N2    &kp N3    &kp N4     &kp N5     &kp N6     &kp N7    &kp N8     &kp N9     &kp N0
&kp EXCL  &kp AT    &kp HASH  &kp DLLR   &kp PRCNT  &kp CARET  &kp AMPS  &kp ASTRK  &kp MINUS  &kp UNDER
                              &kp LSHFT  &kp LALT   &trans     &none
            >;
        };

        fun_layer {
            bindings = <
&kp F21  &kp F22  &kp F23  &kp F24  &none    &none      &none     &none    &none    &none
&kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F6     &kp F7    &kp F8   &kp F9   &kp F10
&kp F11  &kp F12  &kp F13  &kp F14  &kp F15  &kp F16    &kp F17   &kp F18  &kp F19  &kp F20
                           &none    &trans   &kp LCTRL  &kp LALT
            >;
        };

        nav_layer {
            bindings = <
&kp PSCRN  &none         &none       &none         &none      &none      &kp C_AC_BACK  &kp C_AC_FORWARD  &none     &none
&kp LGUI   &kp C_VOL_DN  &kp C_MUTE  &kp C_VOL_UP  &kp PG_UP  &kp PG_DN  &kp UP         &kp DOWN          &kp LEFT  &kp RIGHT
&none      &none         &kp LALT    &kp TAB       &kp HOME   &kp END    &kp H          &kp J             &kp K     &kp L
                                     &none         &trans     &mkp LCLK  &mkp RCLK
            >;
        };

        media_layer {
            bindings = <
&sys_reset  &to 2     &none      &studio_unlock  &bootloader   &bootloader   &to 0         &to 1         &to 3         &sys_reset
&kp LGUI    &kp LALT  &kp LCTRL  &kp LSHFT       &out OUT_USB  &out OUT_BLE  &kp C_PREV    &kp C_VOL_DN  &kp C_VOL_UP  &kp C_NEXT
&none       &none     &none      &none           &bt BT_CLR    &kp C_STOP    &bt_0         &bt_1         &bt_2         &bt_3
                                 &trans          &none         &kp C_PP      &kp C_MUTE
            >;
        };
    };
};
